<main class="text-light">
    <div class=" row row-cols-auto ">
        <div class="col">
            <div class="row">
                <div class="col   container-bg-color   rounded-1 mt-1">
                    <div class="row text-center "><span class="mt-1 mb-3">maquina</span></div>
                    <div class="row"><span class="mt-1 mb-3"> numero de parte</span></div>
                    <div class="row"><span class="mt-1 mb-3"> numero de molde</span></div>
                </div>
            </div>
            <div class="row ">
                <div class="col   container-bg-color   rounded-1 mt-1">
                    <div class="row text-center"><span>estatus</span></div>
                    <div class="row"><span class="mt-1 mb-3"> duracion [min]</span></div>
                    <div class="row"><span class="mt-1 mb-3"> suma de paros [min]</span></div>
                </div>
            </div>
            <div class="row ">
                <div class="col   container-bg-color   rounded-1 mt-1">
                    <div class="row"><span class="mt-1 mb-3"> cantidad planeada [pzas]</span></div>
                    <div class="row"><span class="mt-1 mb-3"> cantidad producida [pzas]</span></div>
                </div>
            </div>
            <div class="row ">
                <div class="col   container-bg-color   rounded-1 mt-1">
                    <div class="row"><span class="mt-1 mb-3"> tiempo ciclo planeado [S]</span></div>
                    <div class="row"><span class="mt-1 mb-3"> tiempo ciclo actual [S]</span></div>
                </div>
            </div>
            <div class="row ">
                <div class="col   container-bg-color   rounded-1 mt-1">
                    <div class="row"><span class="mt-1 mb-3"> scrap de arranque [pzas]</span></div>
                    <div class="row"><span class="mt-1 mb-3"> scrap de origen </span></div>
                    <div class="row"><span class="mt-1 mb-3"> scrap de turno</span></div>
                </div>
            </div>
        </div>

    <div class="col">
        <div class="row">
            <div class="col   container-bg-color   rounded-1 mt-1">
                <div class="row text-center "><span class="mt-1 mb-3">maquina</span></div>
                <div class="row"><span class="mt-1 mb-3"> numero de parte</span></div>
                <div class="row"><span class="mt-1 mb-3"> numero de molde</span></div>
            </div>
        </div>
        <div class="row ">
            <div class="col   container-bg-color   rounded-1 mt-1">
                <div class="row text-center"><span>estatus</span></div>
                <div class="row"><span class="mt-1 mb-3"> duracion [min]</span></div>
                <div class="row"><span class="mt-1 mb-3"> suma de paros [min]</span></div>
            </div>
        </div>
        <div class="row ">
            <div class="col   container-bg-color   rounded-1 mt-1">
                <div class="row"><span class="mt-1 mb-3"> cantidad planeada [pzas]</span></div>
                <div class="row"><span class="mt-1 mb-3"> cantidad producida [pzas]</span></div>
            </div>
        </div>
        <div class="row ">
            <div class="col   container-bg-color   rounded-1 mt-1">
                <div class="row"><span class="mt-1 mb-3"> tiempo ciclo planeado [S]</span></div>
                <div class="row"><span class="mt-1 mb-3"> tiempo ciclo actual [S]</span></div>
            </div>
        </div>
        <div class="row ">
            <div class="col   container-bg-color   rounded-1 mt-1">
                <div class="row"><span class="mt-1 mb-3"> scrap de arranque [pzas]</span></div>
                <div class="row"><span class="mt-1 mb-3"> scrap de origen </span></div>
                <div class="row"><span class="mt-1 mb-3"> scrap de turno</span></div>
            </div>
        </div>



        
    </div>
    </div>

    

</main>
