<p>observable-test works!</p>


    <table class="text-light table">
        <thead>
            <tr>
                <td>line number</td>
                <td>reason</td>
                <td>runing_at</td>
                <td>stopped_at</td>
                <td>current_status</td>
                <td>cumulative stoppage time</td>
            </tr>
        </thead>
            <tbody *ngFor="let line of productionLines">
                <tr>
                    <td>{{line.line_number}}</td>
                    <td>{{line.reason}}</td>
                    <td>{{line.runing_at}}</td>
                    <td *ngIf="line.stopped_at == null">without stopping</td>
                    <td *ngIf="line.stopped_at !== null">{{line.stopped_at}}</td>
                    <td>{{line.current_status}}</td>
                    <td>{{line.cumulative_stoppage_time}}</td>
                </tr>
            </tbody>
        </table>


<button class="btn btn-success" (click)="update()">haz click</button>
