:root{
    --normal-andon-background: #1a1a1a;
    --active-andon-background:#C60021;
    
}



.text-content{
    color: #F6F6F8;
}
.row{ /* this style avoid the overflow from his original boostrap class */
    margin: 0 !important;
}
.unactive-andon{
    background-color: var(--normal-andon-background);
}

.active-andon{ /* class that gonna be set when the andon being activate */
    
    animation: cambioFondo 0.5s infinite alternate; 
  }
  
  @keyframes cambioFondo {
    from { 
        background-color: var(--normal-andon-background);
     } /* background initial value */
    to { 
        background-color: var(--active-andon-background);
     } /* background final value */
  }