:root{
    --normal-andon-background: #1a1a1a;
    --active-andon-background:#C60021;
    
}



.text-content{
    color: #F6F6F8;
}
.row{ /* this style avoid the overflow from his original boostrap class */
    margin: 0 !important;
}
.unactive-andon{
    background-color: var(--normal-andon-background);
}

.active-andon{
    /* Cambia el color de fondo como desees */
    animation: cambioFondo 1s infinite alternate; /* Agrega una animación */
  }
  
  @keyframes cambioFondo {
    from { 
        background-color: var(--normal-andon-background);
     } /* Color de fondo inicial */
    to { 
        background-color: var(--active-andon-background);
     } /* Color de fondo final */
  }