    <div class="row text-content fs-1 fw-bold">
      <div class="col-sm-4">OK parts [numbers]</div>
      <div class="col-sm-4">NOK parts [numbers]</div>
      <div class="col-sm-4">scrap rate [percentage]</div>
    </div>
    <div class="row text-content fs-1 fw-bold">
      <div class="col-sm-6"> target qty [numbers]</div>
      <div class="col-sm-6">target qty w/o downtimes [numbers]</div>
    </div>
    <div class="row text-content fs-1 fw-bold">
      <div class="col-sm-4">directly OK rate [percentage]</div>
      <div class="col-sm-4">STATUS</div>
      <div class="col-sm-4">bloque 8</div>
    </div>
    <div class="row text-content fs-1 fw-bold">
      <div class="col-sm-4">bloque 9</div>
      <div class="col-sm-4">bloque 10</div>
      <div class="col-sm-4">bloque 11</div>
    </div>
